<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^article_cate$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php\?ctl=article_cate" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^(gywm|xsbz|fltk|zdsm|hyxw|znxw|xghd|zcal|fhgg|qtgg)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php\?ctl=article_cate&amp;bs={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^(gywm|xsbz|fltk|zdsm|hyxw|znxw|xghd|zcal|fhgg|qtgg)/([^\.&amp;]*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php\?ctl=article&amp;id={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^([^\.&amp;]*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php\?rewrite_param={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
